* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Box {
    width: 20vw;
    font-size: 35px;
    text-align: center;
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}